<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<header class="navbar navbar-expand-md d-print-none" th:fragment="header">
    <div class="container-xl">
        <h1 class="navbar-brand navbar-brand-autodark pe-0 pe-md-3">
            <a href="/admin">
                MyShop Admin
            </a>
        </h1>

        <div class="navbar-nav flex-row order-md-last">
            <div class="nav-item">
                <span class="nav-link">관리자</span>
            </div>
        </div>
    </div>
</header>
</body>
</html>
